[submodule "pico_lib"]
	path = pico_lib
	url = https://github.com/PicoPlus-devel/pico_lib.git
[submodule "tusb_xinput"]
	path = tusb_xinput
	url = https://github.com/PicoPlus-devel/tusb_xinput.git
[submodule "pico_shared"]
	path = pico_shared
	url = https://github.com/PicoPlus-devel/pico_shared.git
